<ion-header class="opaque">
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Tutorials</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding fullscreen class="card-background-page">
	<ion-card>
		<video controls width="100%" height="100%">
			<source src="assets/videos/01-Portal-introduction.mp4" type="video/mp4">
		</video>
		<ion-card-content>
			<ion-card-title>
				Portal introduction
			</ion-card-title>
			<p>A short introduction to the new freelance portal</p>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<video controls width="100%" height="100%">
			<source src="assets/videos/03-Accepting-a-Preview-Task.mp4" type="video/mp4">
		</video>
		<ion-card-content>
			<ion-card-title>
				Accepting a preview task
			</ion-card-title>
			<p>How to accept a peview task</p>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<video controls width="100%" height="100%">
			<source src="assets/videos/04-Making-a-Price-Offer.mp4" type="video/mp4">
		</video>
		<ion-card-content>
			<ion-card-title>
				Making a price offer
			</ion-card-title>
			<p>How to make a price offer</p>
		</ion-card-content>
	</ion-card>
</ion-content>
